.class-info-container {
    padding: 17vh 2.5vw 3vh 2.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5vh;
    column-gap: 2vw;

}

.main-content-class-page {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 95vw;
    left: 5vw;
}

.class-info-container-padding {
    padding: 17vh 2.5vw 3vh 2.5vw;
}

.class-page-header {
    background-color: #157daa;
    height: 45vh;
    width: 90vw;
    border-radius: 1vh;
    display: flex;
    flex-direction: row;
}

.class-page-header-left {
    background-color: rgba(0, 0, 0, 0.075);
    flex: 1;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.class-page-header-right {
    flex: 1;
    height: inherit;
    border-radius: 0 1vh 1vh 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.class-title-teacher-holder {
    background-color: rgba(0, 0, 0, 0.15);
    height: fit-content;
    width: fit-content;
    max-width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    border-radius: 1vh;
    border: 1px solid #ffffff10;
}

.class-prerequisites {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
    overflow-y: scroll;
}

.class-tags {
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
    overflow-y: scroll;
}

.class-tags-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.class-quick-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
    overflow-y: scroll;
}

.class-page-half-box {
    height: 45vh;
    width: 44vw;
    border-radius: 1vh;
    background-color: #157daa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-comment-container {
    width: 100%;
    /* background-color: rgb(78, 78, 78); */
    height: fit-content;
    
} 

.area-with-the-comments {
    padding: 1vh 2.5vw 1vh 2.5vw;
}

.comment-header {
    height: 9vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vh;
    padding: 0 2.5vw;
    font-size: 4vh;
}

.comment-box {
    height: 25vh;
    background-color: #373737;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 2vh;
    margin-bottom: 3vh;
}

.review-info {
    flex-wrap: wrap;
    height: 85%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.comment-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    padding: 1% 2.5% 1% 2.5%;
    font-size: 2.2vh;
    text-align: center;
    border-radius: 1vh;
    background-color: gainsboro;
}

.comment-tags-holder {
    height: 25%;
    width: 90%;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 0.5vw;
}

.comment-kicker {
    height: 15%;
    width: 2.5%;
    margin-left: 27.5%;
    background-color: #7c7474;
    border-top-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Smaller Element Styling  */


.class-title {
    font-size: 7vh;
    color: black;
}

.class-teacher {
    font-size: 4vh;
    /* color: black; */
}

.description-paragraph {
    font-size: 3vh;
    text-align: center;
    color: black;
    padding: 0 5% 0 5%;
}

.title-teacher-break {
    border: 2px solid #000000;
    border-radius: 5px;
    width: 80%;
}

.comment-icon {
    font-size: 6vh !important;
}

.review-info>.elevated-rectangle:last-child {
    margin-bottom: 0;
}

.comment-tags-holder>.elevated-rectangle-half {
    margin-bottom: 0;
    max-height: fit-content;
    text-wrap: nowrap;
    padding: 0.45vh 2% 0.45vh 2%;
}





/* Element Styling */

.elevated-rectangle-title {
    background-color: #ffffff35;
    font-weight: bold;
    height: 4vh;
    font-size: 3vh;
    text-align: center;
    align-content: center;
    width: 90%;
    border-radius: 0.5vh;
    border: 1px solid #ffffff20;
    margin-bottom: 2.5vh;
    color: white;
}

.elevated-rectangle {
    background-color: #ffffff35;
    font-size: 2vh;
    text-align: left;
    align-content: center;
    width: 90%;
    border-radius: 0.5vh;
    border-left: 3px solid rgb(255, 255, 255);
    color: white;
    padding: 0.45vh 0 0.45vh 5%;
    margin-bottom: 2vh;
    transition: all 0.5s cubic-bezier(.17,.67,.36,1.02);
}

.elevated-rectangle-half {
    background-color: #4e4e4e49;
    font-size: 2vh;
    text-align: center;
    align-content: center;
    width: fit-content;
    border-radius: 0.5vh;
    border-left: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    color: white;
    margin: 0 0.5vw 1vh 0;
    padding: 0.45vh 5% 0.45vh 5%;
}

.elevated-rectangle:hover {
    transform: translateX(0.25vw);
    background-color: #ffffff50;
}

:root {
  --md-sys-typescale-body-large: 400 1rem system-ui;
  --md-sys-color-primary: #000000;
  --md-sys-color-surface-container-highest: gainsboro;
  --md-filled-text-field-label-text-color: #3f4948;
  --md-filled-text-field-input-text-color: #161d1d;
  }
