.agriculture {
  background: #a2bf82 !important; /* green for agriculture */
  color: #6a9836 !important;
}
.appliescience, .technology, .engineering, .manufacturing, .cte {
  background: #607d8b !important; /* blue-grey for STEM */
  color: #263238 !important;
}
.arteducation, .arts {
  background: #e2bd85 !important; /* orange for art */
  color: #96611b !important;
}
.business, .finance, .marketing, .management {
  background: #ffd600 !important; /* gold for business */
  color: #7c6f00 !important;
}
.career, .technicaleducation {
  background: #c1b1b1 !important; /* grey for CTE */
  color: #4a4242 !important;
}
.english {
  background: #d5da9c !important;
  color: #9b9433 !important;
}
.health {
  background: #e4a5a5 !important; /* red for health */
  color: #aa4141 !important;
}
.human, .services, .humanservices {
  background: #9d99bb !important; /* pink for human services */
  color: #3d1a84 !important;
}
.information, .solutions, .informationsolutions {
  background: #82f0ffb6 !important; /* cyan for info tech */
  color: #0095a5 !important;
}
.mathematics, .math {
  background: #a5b9d0 !important;
  color: #427bc1 !important;
}
.music {
  background: #ffde91 !important;
  color: #a76a39 !important;
}
.physical, .education, .pe {
  background: #b9efd0 !important; /* light green for PE */
  color: #6aba8a !important;
}
.science {
  background: #acc58a !important;
  color: #55663c !important;
}
.social, .studies, .history, .socialstudies {
  background: #fb8b8b !important;
  color: #6a2323 !important;
}
.world, .language, .foreign, .language {
  background: #9ce9d6 !important;
  color: #296450 !important;
}
.misc {
  background: #4f4f4f !important;
  color: #8f0339 !important;
}